/*  MAIN  */
html{
    background-color: #fff;
}

p{margin: 0;}

section{
    box-sizing: border-box;
    width: 90vw;
    margin:  calc(5vw - 1px);
    border: 1px solid #828282;
    border-radius: 5vw;
}

/* IMAGE */
.image{
    height: 60vw;
    width: 90vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5vw 5vw 0 0;
}
.new{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 8vw;
    color: #3E3E3E;

    position: absolute;
    top: 10vw;

    background: #FED74B;
    padding: 1vw 3vw;
}

/* CONTENT */
.content{
    width: 90vw;
    padding: 3vw;
}

/* TIME */
.length{
    display: inline-block;
    height: 4vw;
    margin: 0;
    width: 100%;

}
.length p{
    margin: 0 0 0 6.5vw;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 4vw;

    color: #9E9E9E;
}
.clock{
    height: 4vw;
    float: left;
}

/* TITLE */
.title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.8vw;
    line-height: 5vw;
    margin-top: 3vw;

    color: #404040;
}


/* DESCRIPTION */
.description{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.8vw;
    line-height: 5vw;
}
ul{
    padding-left: 6vw;
    list-style: none;
}
li{
    margin-top: 3vw;
    display: inline-block;
    width: 88vw;
    word-wrap: break-word;
}
li img{
    float: left;
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 0.75vw;
    margin-left: -6vw;
}

/*  */
